# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# project
bin/
build-*-Debug/
build-*-Release/
.qmake.*

 # visual studio
.vscode/
.vs/
*.sln
 x64/
win32/
release/
debug/
*.vcxproj
*.vcxproj.*

 # Qt
ui_*
*.user
*.autosave